body{
    font-size: 1rem;
    background: #0b0b0b;
}

a{
    color: #42c2fd;
}

#menu-topo{
    z-index: 999;
    position: relative;
    padding: 0.4rem 15px !important;
    background: #1b1b1b !important;
}
    
/* MENU */
#menu-institucional{
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 0.8rem;
    border: 5px solid #1b1b1b;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #f08600;
}

    #menu-institucional a{
        padding: 5px 10px;
        font-weight: bold;
        color: #fff;
    }
    
    nav button[type='submit']{
        padding: 5px 25px;
        color: #f08600;
        border: none;
        background: #2b2b2b;
    }

#menu-topo .collapse div:first-child{
    width: 585px;
}

/* ÁREA DE ACESSO */
.btnAcesso-Desl{
    padding: 5px 7px;
    line-height: 16px;
    border: 1px solid #f08600;
    border-radius: 3px;
    color: #FFF;
}

    .btnAcesso-Desl strong{
        color: #f08600;
    }
    
    .btnAcesso-Desl small{
        color: #959595;
    }
/* FIM AREA DE ACESSO */
/* FIM MENU*/

/* CABEÇALHO DAS PÁGINAS */
header{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 700px;
}

.topo-item{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url(../img/noticia/fundo-laranja.jpg);
    background-size: cover;
}

    .item-cont-box{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    
.slide-navigation{
    display: flex;
    position: absolute;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.slide-navigation ul{
    position: relative;
    height: 40%;
    margin-right: 10px;
}

    .slide-navigation ul li{
        float: left;
        padding: 2px;
        margin: 0px 1px;
        border: 2px solid #2b2b2b;
        transform: skew(10deg);
        list-style-type: none;
        background: #f08600;
        transition: ease-in-out 0.2s;
    }
    
        .slide-navigation ul li a{
            font-weight: bold;
            color: #2b2b2b;
        }
        
        .slide-navigation .active{
            position: relative;
            bottom: 5px;
            background: #FFF;
        }
        
.slide-trans{
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(11,11,11,0) 1%,rgba(11,11,11,0.89) 79%,rgba(11,11,11,1) 89%,rgba(11,11,11,1) 100%);}
/* FIM CABEÇALHO DAS PÁGINAS */

/* CONTAINERS */
.container-first{
    padding: 0px 35px;
    margin-top: calc(-700px + 32%);
}

.wrap-content-first{
    margin: 0px -28px;
    padding-top: 20px;
    border: 5.5px solid #f08600;
    border-radius: 3px;
    background: #1b1b1b;
}

    .wrap-content-first::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 150px;
        top: -40px;
        left: 0px;
        background: url(../img/fundo/bordas.png);
        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
.wrap-content{
    padding: 15px;
    border: 5.5px solid #f08600;
    border-radius: 3px;
    background: #1b1b1b;
}

.container-titulo1{
    font-size: 1.2rem;
    color: #f08600;
    stroke: 3px #FFF;
    text-shadow: 0px 0px 1px #FFF
}
/* FIM CONTAINERS */

/* AULAS E CURSOS */
.destaque-semanal .aula-thumb2{
    width: 100%;
    height: 46%;
    border-radius: 3px;
    background-size: cover !important;
}
    
.aula-thumb, .aula-thumb2, .aula-thumb3 div:nth-child(1), .aula-thumb4 div:nth-child(1){
    padding: 0px;
    border-radius: 3px;
    background: #f08600;
    overflow: hidden;
}

    .aula-thumb2 img{
        z-index: 0;
        position: absolute;
        width: 100%;
        height: auto;
    }

    .aula-thumb img, .aula-thumb2 img, .aula-thumb3 img, .aula-thumb4 img{
        opacity: 0.9;
        transition: 0.2s;
    }
    
        .aula-thumb:hover img, .aula-thumb2:hover img, .aula-thumb3 img:hover, .aula-thumb4:hover img{
            transform: scale(1.05);
            opacity: 1;
        }
        
    .aula-thumb4 small{
        color: #cdcdcd;
    }
   
    .aula-thumb4 div:nth-child(2){
        height: 100%;
    }

.nome-dest-1, .nome-dest-2{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
}

.nome-dest-2{
    position: relative;
    background: none;
}

.avaliacao-dest-1{
    z-index: 3;
    position: absolute;
    top: 5px;
    right: 10px;
}

.descricao-dest, .descricao-dest p, .descricao-dest a{
    color: #cdcdcd;
}

.wrap-content-first .aulas-patrocinadas{
    border-left: 1px solid #2b2b2b;
}
/* FIM AULAS E CURSOS */

/* BOTÕES */
.btn{
    border-radius: 3px;
    border-bottom: 3px solid #FFF;
}

.btn-primary{
    border-color: #0056b2;
}
/* FIM BOTÕES */

/* TEXTO */
.text-destaque{
    color: #f08600;
}
/* FIM TEXTO */

@media screen and (min-width: 1100px){
    /* CABEÇALHO */
    .container-first{
        margin-top: -320px;
    }
    
    .slide-navigation {
        height: 350px;
    }
    /* FIM CABEÇALHO */
}

@media screen and (max-width: 980px){
    /* MENU */
    #menu-topo .collapse div:first-child{
        width: 380px;
    }
    /* FIM MENU */
    
    /* CONTAINER */
    .wrap-content-first{
        margin: 0px -30px;
    }
    /* FIM CONTAINER */
}

@media screen and (max-width: 767px){
    /* MENU */
    #menu-institucional{
        width: 100%;
        left: 0px;
    }
    
    #menu-search .input-group{
        border-radius: 0px !important;
    }
    
    #menu-institucional li a{
        padding: 15px 5px;
    }
    /* FIM MENU */
    
    /* CONTAINER */
    .wrap-content-first{
        margin: 0px -32px;
    }
    
        .wrap-content-first:before{
            top: -50px;
        }
    /* FIM CONTAINER */
}

@media screen and (max-width: 576px){
    /* CONTAINER */
    .destaque-semanal .aula-thumb2{
        height: 110px;
        margin: 10px 0px;
    }
    /* FIM CONTAINER */
}

/* ANIMAÇÕES */
/* FIM ANIMAÇÕES */

/*SUBSTITUINDO BOOTSTRAP*/
button{
    cursor: pointer;
}

hr{
    background: #2b2b2b;
}

.input-group{
    border: 1px solid #2b2b2b;
    border-radius: 3px !important;
    background: #1b1b1b;
}

    .form-control:focus{
        border: 1px solid #f08600;
        background: #0b0b0b;
        color: #f08600;
        box-shadow: 0px 0px 3px #f08600;
    }

.form-control{
    padding: 2px 10px !important;
    color: #f08600;
    border: none;
    background: #0b0b0b;
}

.container{
    z-index: 2;
    position: relative;
    border-radius: 3px;
}

.img-fluid{
    border-radius: 3px;
}